﻿<header ng-show="navCtrl.showHeader" class="c-header t-header-gradient t-font-color-white">
    <!-- PIVisualization logo -->
    <div class="c-app-logo" xstyle="margin-left: 45px;" style="margin-left: 0;">
        <a ng-show="!navCtrl.kioskMode" ng-click="navCtrl.goToStartPage()" title="{{::res.HomePageToolTip}}">
            <img src="Images/logo_ihc.jpg" id="pivisualization-logo" alt="{{::res.HomePageToolTip}}" style="height:42px;">
        </a>
        <a ng-show="navCtrl.kioskMode" style="cursor:default" title="{{::res.HomePageToolTip}}">
            <img src="Images/logo_ihc.jpg" id="pivisualization-logo" style="height:42px;">
        </a>
    </div>

    <!-- Timeout info -->
    <div class="c-header-container-center" ng-show="navCtrl.timeoutMessage.length > 0">
        <div class="t-font-color-white  t-display-content-font" style="white-space: nowrap;">{{navCtrl.timeoutMessage}}</div>
    </div>

    <!-- Right side header icons -->
    <div ng-show="!navCtrl.kioskMode" class="c-header-container-right">
        <div class="c-touch-mode-toggle" ng-if="navCtrl.showTouchButton" ng-click="navCtrl.toggleTouchMode()" type="button" title="{{::res.TouchButtonTooltip}}">
            <svg ng-class="navCtrl.touchModeEnabled ? 'touch-mode-on' : 'touch-mode-off'" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <path d="M17,12.7c-0.3,0-0.9,0.2-0.9,0.8V13c0-0.6-0.5-1-1.1-1s-1,0.4-1,1v-0.6c0-0.6-0.4-1-1-1s-1,0.4-1,1V8c0-0.6-0.4-1-1-1
                    s-1,0.5-1,1v7.2L9,14c-0.3-0.4-1-0.5-1.4-0.2c-0.4,0.3-0.5,1-0.2,1.4c0,0,1.9,2,3,4.1c0.5,0.9,1.3,1.7,2.4,1.7H14c2.2,0,3.9-1,4-4
                    v-3C18,13.3,17.6,12.7,17,12.7z" />
            <path d="M9,12.6v-1.1c-1.2-0.7-2-2-2-3.4c0-2.2,1.8-4,4-4s4,1.8,4,4c0,1-0.4,1.9-1,2.6c0.2,0.1,0.4,0.3,0.5,0.4
                    c0.1,0,0.3-0.1,0.5-0.1c0.6-0.8,1-1.9,1-3c0-2.8-2.2-5-5-5S6,5.2,6,8C6,10,7.2,11.8,9,12.6z" />
            <path d="M9,10.2V8c0,0,0,0,0,0c0,0,0,0,0,0c0-1.1,0.9-2,2-2s2,0.9,2,2c0,0,0,0,0,0s0,0,0,0v2.2c0.6-0.5,1-1.3,1-2.2c0-1.7-1.3-3-3-3
                    S8,6.3,8,8C8,8.9,8.4,9.7,9,10.2z" />
            </svg>
        </div>

        <div id="new-display-button" class="c-new-display t-display-content-font">
            <div class="c-icon-display" ng-click="navCtrl.newDisplay()" title="{{::res.ToolBarNewDisplayTooltip}}">
                <div class="c-new-display-rollover">
                    <div>
                        <svg id="new-display-icon" class="t-icon-fill" version="1.1" x="0px" y="0px"
                             width="25px" height="25px" viewBox="0 -3.85 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <path d="M9.677,0.823c-5.12,0-9.271,4.188-9.271,9.354c0,5.169,4.151,9.356,9.271,9.356
                                    c5.119,0,9.271-4.188,9.271-9.356C18.948,5.012,14.796,0.823,9.677,0.823" />
                        <polygon fill="#091d3a" points="15.553,8.831 10.982,8.831 10.982,4.114 8.37,4.114 8.37,8.831 3.8,8.831 3.8,11.527 8.37,11.527
                                    8.37,16.243 10.982,16.243 10.982,11.527 15.553,11.527" />
                        </svg>
                    </div>
                    <div class="t-font-color-white" style="text-decoration: none">{{::res.NewDisplayLinkText}}</div>
                </div>
            </div>
        </div>
        <div class="c-divider">
            <svg class="t-stroke-fill t-divider" x="0px" y="0px" width="1px" height="22px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke="#fff" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101" />
            </svg>
        </div>

        <div type="button" class="message-icon" ng-click="navCtrl.openErrorLog()" style="position:relative">
            <img src="Images/toolbarMessageIcon.png" />
            <span ng-class="navCtrl.log.shownEntries > 0 ? 'error-notif-show' : 'error-notif-hide'" class="error-notif">
                {{navCtrl.log.shownEntries}}
            </span>
        </div>
        <!-------------------- error dialog ------------------------>
        <div id="kendo-error-dialog" kendo-window="errorDialogWindow" k-visible="false" style="background-color: #48586b;">
            <div class="scroll error-dialog-content-container  error-dialog-list">
                <ul>
                    <li class="" ng-repeat="error in navCtrl.errors">
                        {{error.Message}} : {{error.Details}}
                    </li>
                </ul>
            </div>
            <div class="error-button-container">
                <div class="error-button-container-left">
                    <button type="button" class="c-primary-button" style="margin-left:5px" ng-click="navCtrl.clearErrorLog()">{{::res.MessagesDialogClearButtonText}}</button>
                    <a type="button" class="download-button"  href="" download="PIVisualization_log.txt" ng-click="navCtrl.downloadMessageLog($event)">{{::res.MessagesDialogDownloadButtonText}}</a>
                </div>
                <div class="error-button-container-right">
                    <button type="button" class="c-primary-button" style="margin-right:5px" ng-click="navCtrl.closeErrorLog()">{{::res.MessagesDialogOKButtonText}}</button>
                </div>
            </div>
        </div>

        <div class="c-divider">
            <svg class="t-stroke-fill t-divider" x="0px" y="0px" width="1px" height="22px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke="#fff" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101" />
            </svg>
        </div>

        <sign-out-menu></sign-out-menu>

        <div class="c-divider">
            <svg class="t-stroke-fill t-divider" x="0px" y="0px" width="1px" height="22px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke="#fff" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101" />
            </svg>
        </div>
        <div class="thumb-icon clickable" ng-show="!!navCtrl.AFPortalURL">
            <a ng-href="{{navCtrl.AFPortalURL}}" target="_blank">
                <img src="Images/Settings64x64.png" class="thumb-settings-icon" />
            </a>
        </div>

        <div id="help-button" class="c-icon-help" title="{{::res.Help}}" ng-click="getHelp()">
            <svg version="1.1" class="t-icon-fill" id="help-icon" x="0px" y="0px"
                 width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve" shape-rendering="geometricPrecision">
            <circle fill="#FFFFFF" cx="10" cy="10" r="9" />
            <g>
            <path fill="#293E5E" d="M5.355,6.771c0-0.557,0.179-1.12,0.536-1.692c0.357-0.57,0.879-1.044,1.564-1.419s1.485-0.563,2.399-0.563
                        c0.85,0,1.6,0.157,2.25,0.47c0.65,0.314,1.152,0.74,1.508,1.279c0.354,0.539,0.531,1.125,0.531,1.758
                        c0,0.498-0.102,0.935-0.303,1.31c-0.203,0.375-0.443,0.698-0.721,0.972c-0.279,0.271-0.779,0.73-1.5,1.375
                        c-0.199,0.182-0.359,0.342-0.479,0.479c-0.121,0.139-0.209,0.264-0.268,0.378c-0.059,0.113-0.105,0.229-0.137,0.342
                        c-0.033,0.115-0.08,0.316-0.145,0.604c-0.111,0.609-0.46,0.914-1.046,0.914c-0.305,0-0.562-0.1-0.769-0.299
                        c-0.209-0.199-0.313-0.496-0.313-0.889c0-0.492,0.076-0.917,0.229-1.279C8.848,10.15,9.05,9.834,9.302,9.561
                        c0.252-0.271,0.592-0.596,1.02-0.971c0.375-0.328,0.646-0.576,0.814-0.742c0.166-0.168,0.307-0.354,0.422-0.559
                        c0.113-0.205,0.17-0.428,0.17-0.668c0-0.469-0.174-0.864-0.521-1.187c-0.35-0.322-0.799-0.483-1.35-0.483
                        c-0.645,0-1.119,0.162-1.424,0.488C8.127,5.764,7.869,6.243,7.658,6.876C7.459,7.538,7.081,7.869,6.524,7.869
                        c-0.328,0-0.605-0.115-0.831-0.348C5.468,7.291,5.355,7.04,5.355,6.771z M9.645,16.404c-0.357,0-0.67-0.117-0.936-0.348
                        c-0.268-0.23-0.4-0.555-0.4-0.971c0-0.369,0.129-0.68,0.387-0.932s0.574-0.379,0.949-0.379c0.369,0,0.68,0.127,0.932,0.379
                        c0.252,0.252,0.377,0.563,0.377,0.932c0,0.41-0.131,0.732-0.395,0.967C10.295,16.287,9.99,16.404,9.645,16.404z" />
                </g>
            </svg>
        </div>

        <!-- <ul id="help-context-menu" style="border: 1px solid #48586b"
            kendo-context-menu="kMenu" k-target="'#help-button'" k-on-select="onHelpMenu(kendoEvent)"
            k-show-on="'click'" k-on-open="onOpenHelpMenu()" k-align-to-anchor="true" k-popupCollision="false">

            <li ng-repeat="menuItem in ::helpMenuItems" class="k-item k-state-default" ng-class="::{'k-first': $first, 'k-last': $last}" data-menu-id="{{menuItem.id}}" data-url="{{menuItem.url}}" role="menuitem">
                <span class="k-link-overlay k-widget-overlay">{{::menuItem.title}}</span>
            </li>
        </ul> -->
    </div>
</header>
