.custom-table-container {
    background: #fafafa;
    overflow: auto;
}
.custom-table-row {
    display: flex;
    min-height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
/* .custom-table-row:nth-of-type(odd) {
    background: #edeeee;
} */
.custom-table-row div {
    text-align: left;
    flex-basis: 10%;
}
.custom-table-row div:last-child {
    text-align: right;
}
div.customodd {
    background: #edeeee;
}
div.custom-table-row {
    display: none;
}
div.customtablevisible {
    display: flex;
}