<h1>Table config</h1>
<!--<div style="margin-left: 20px; margin-right: 32px;">
    <pv-slider keyword="'Name column width'" ng-model="config.NameWidth" min="0" max="100" step="1" />
</div>

<div style="margin-left: 20px; margin-right: 32px;">
    <pv-slider keyword="'Category column width'" ng-model="config.CatWidth" min="0" max="100" step="1" />
</div>

<div style="margin-left: 20px; margin-right: 32px;">
    <pv-slider keyword="'On-off column width'" ng-model="config.OnOffWidth" min="0" max="100" step="1" />
</div>

<div style="margin-left: 20px; margin-right: 32px;">
    <pv-slider keyword="'Time column width'" ng-model="config.TimeWidth" min="0" max="100" step="1" />
</div> -->

<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Sort by on/off and time active</label>
    <input type="checkbox" ng-model="config.DoubleSort">
</div>

<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Show all rows</label>
    <input type="checkbox" ng-model="config.ShowAll">
</div>