<div id="temp-id" class="custom-table-container" ng-style="{width: config.Width, height: config.Height}" style="background: #fafafa; overflow: auto;">
    <div ng-repeat="item in items" class="custom-table-row" ng-class="{customtablevisible: item.show || config.ShowAll}">
        <!-- <div ng-style="{flexBasis: config.NameWidth + '%'}">{{item.name}}</div>
        <div ng-style="{flexBasis: config.CatWidth + '%'}">{{item.category}}</div>
        <div ng-style="{flexBasis: config.OnOffWidth + '%'}">{{item.onOff}}</div>
        <div ng-style="{flexBasis: config.TimeWidth + '%'}">{{item.timeActive}}</div> -->
        <div style="flex-basis: 60%;">{{item.name}}</div>
        <div style="flex-basis: 30%;">{{item.category}}</div>
        <div style="flex-basis: 5%;">{{item.onOff}}</div>
        <div style="flex-basis: 5%;">{{item.timeActive}}</div>
    </div>
</div>