﻿<div class="tooltip-wrapper-shape-select">
    <div class="c-toolbar-shape-select-button" id="shape-selector">
        <div class="tooltip-wrapper-box" title="Box" ng-if="dispCtrl.shapeMode=='box'">
            <div class="c-toolbar-button c-toolbar-button-enabled" style="border: none" ng-click="dispCtrl.changeShapeMode('box')" ng-class="{'active-drawing-mode active-shape':dispCtrl.drawingModeName === 'box'}">
                <svg style="display: block;" viewBox="0 0 200 200" width="24" height="24">
                    <path  d="
                        M 0 40
                        v -20
                        a 20 20 0 0 1 20 -20
                        h 160
                        a 20 20 0 0 1 20 20
                        v 20"
                        stroke-width="0"
                        fill="rgba(150,143,133,1)"
                        stroke="none"/>
                    <path d="
                        M 10 39
                        v 130
                        a 20 20 0 0 0 20 20
                        h 140
                        a 20 20 0 0 0 20 -20
                        v -130"
                        fill="none"
                        stroke-width="20"
                        stroke="rgba(150,143,133,1)"/>
                  </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-rectangle" title="{{::res.ToolBarRectangleTooltip}}" ng-if="dispCtrl.shapeMode=='rectangle'">
            <div class="c-toolbar-button c-toolbar-button-enabled" style="border: none" ng-click="dispCtrl.changeShapeMode('rectangle')" ng-class="{'active-drawing-mode active-shape':dispCtrl.drawingModeName === 'rectangle'}">
                <svg class="t-icon-fill t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 -1 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path d="M20 7v9H4V7H20M22 5H2v13h20V5L22 5z" />
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-ellipse" title="{{::res.ToolBarEllipseTooltip}}" ng-if="dispCtrl.shapeMode=='ellipse'">
            <div class="c-toolbar-button c-toolbar-button-enabled" style="border: none" ng-click="dispCtrl.changeShapeMode('ellipse')" ng-class="{'active-drawing-mode active-shape':dispCtrl.drawingModeName === 'ellipse'}">
                <svg class="t-icon-fill t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path d="M12 19.498c-6.137 0-10.943-3.31-10.943-7.534S5.863 4.43 12 4.43s10.943 3.31 10.943 7.534S18.137 19.498 12 19.498zM12 6.43c-4.848 0-8.943 2.534-8.943 5.534S7.152 17.498 12 17.498s8.943-2.534 8.943-5.534S16.848 6.43 12 6.43z" />
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-line" title="{{::res.ToolBarLineTooltip}}" ng-if="dispCtrl.shapeMode=='line'">
            <div class="c-toolbar-button c-toolbar-button-enabled" style="border: none" ng-click="dispCtrl.changeShapeMode('line')" ng-class="{'active-drawing-mode active-shape':dispCtrl.drawingModeName === 'line'}">
                <svg class="t-icon-fill t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <g>
                <rect x="0.349" y="10.201" transform="matrix(0.7071 0.7071 -0.7071 0.7071 11.7888 -5.0582)" width="23.302" height="3" />
                </g>
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-arc" title="{{::res.ToolBarArcTooltip}}" ng-if="dispCtrl.shapeMode=='arc'">
            <div class="c-toolbar-button c-toolbar-button-enabled" style="border: none" ng-click="dispCtrl.changeShapeMode('arc')" ng-class="{'active-drawing-mode active-shape':dispCtrl.drawingModeName === 'arc'}">
                <svg class="t-icon-fill t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path d="M21 21h-3C17.946 10.821 12.164 6 3 6V3C13.473 3 21 10.527 21 21z" />
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper" id="tooltip-wrapper-polygon" title="{{::res.ToolBarPolygonTooltip}}" ng-if="dispCtrl.shapeMode=='polygon'">
            <div class="c-toolbar-button c-toolbar-button-enabled" style="border:none;" ng-click="dispCtrl.changeShapeMode('polygon')" ng-class="{'active-drawing-mode active-shape':dispCtrl.drawingModeName === 'polygon'}">
                <svg class="t-icon-fill t-icon-size-medium" x="0px" y="0px" viewBox="0 1 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path d="M9,3.7l6,4.8l-2.3,7.6H5.3L3,8.3L9,3.7 M9,1L0.6,7.4L3.8,18h10.4l3.2-10.4L9,1L9,1z" />
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-shape-split ">
            <div id="shape-split-button" class="c-toolbar-button-enabled c-toolbar-shape-split-button" ng-click="dispCtrl.toggleShapeMenu()">
                <svg version="1.1" style="margin-top: 2px;" x="0px" y="0px"
                     width="10px" height="12.313px" viewBox="0 0 14.656 14.313" enable-background="new 0 0 14.656 14.313" xml:space="preserve">
                <polygon fill="#FFFFFF" points="0,0 14.656,0 7.328,14.313 " />
                </svg>
            </div>
        </div>
    </div>

    <ul class="shape-button-list" id="list" ng-show="dispCtrl.showShapeMenu">
        <li class="shape-menu-item" id="box-button" style="border:none" ng-click="dispCtrl.changeShapeMode('box'); $event.stopPropagation();">
            <svg style="display: block; margin:auto;" viewBox="0 0 200 200" width="24" height="24">
                <path  d="
                    M 0 40
                    v -20
                    a 20 20 0 0 1 20 -20
                    h 160
                    a 20 20 0 0 1 20 20
                    v 20"
                    stroke-width="0"
                    fill="rgba(150,143,133,1)"
                    stroke="none"/>
                <path d="
                    M 10 39
                    v 130
                    a 20 20 0 0 0 20 20
                    h 140
                    a 20 20 0 0 0 20 -20
                    v -130"
                    fill="none"
                    stroke-width="20"
                    stroke="rgba(150,143,133,1)"/>
              </svg>
        </li>
        <li class="shape-menu-item" id="rectangle-button" style="border:none" ng-click="dispCtrl.changeShapeMode('rectangle'); $event.stopPropagation();">
            <svg class="t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 -1 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <path fill="#575757" d="M20 7v9H4V7H20M22 5H2v13h20V5L22 5z" />
            </svg>
        </li>
        <li class="shape-menu-item" id="ellipse-button" ng-click="dispCtrl.changeShapeMode('ellipse'); $event.stopPropagation();">
            <svg class="t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <path fill="#575757" d="M12 19.498c-6.137 0-10.943-3.31-10.943-7.534S5.863 4.43 12 4.43s10.943 3.31 10.943 7.534S18.137 19.498 12 19.498zM12 6.43c-4.848 0-8.943 2.534-8.943 5.534S7.152 17.498 12 17.498s8.943-2.534 8.943-5.534S16.848 6.43 12 6.43z" />
            </svg>
        </li>
        <li class="shape-menu-item" id="line-button" ng-click="dispCtrl.changeShapeMode('line'); $event.stopPropagation();">
            <svg class="t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <g>
            <rect fill="#575757" x="0.349" y="10.201" transform="matrix(0.7071 0.7071 -0.7071 0.7071 11.7888 -5.0582)" width="23.302" height="3" />
            </g>
            </svg>
        </li>
        <li class="shape-menu-item" id="arc-button" ng-click="dispCtrl.changeShapeMode('arc'); $event.stopPropagation();">
            <svg class="t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <path fill="#575757" d="M21 21h-3C17.946 10.821 12.164 6 3 6V3C13.473 3 21 10.527 21 21z" />
            </svg>
        </li>
        <li class="shape-menu-item" id="polygon-button" ng-click="dispCtrl.changeShapeMode('polygon'); $event.stopPropagation();">
            <svg class="t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve" pointer-events="none">
            <path fill="#575757" d="M9,3.7l6,4.8l-2.3,7.6H5.3L3,8.3L9,3.7 M9,1L0.6,7.4L3.8,18h10.4l3.2-10.4L9,1L9,1z" />
            </svg>
        </li>
    </ul>
</div>