<!-- <div class="config-option-format" style="margin: -3px 0 12px 0;">
    <pv-color-picker colorkeyword='Line Color' ng-model="config.LineColor"></pv-color-picker>
</div> -->
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <pv-color-picker colorkeyword='Icon Color' ng-model="config.IconColor"></pv-color-picker>
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <pv-color-picker colorkeyword='Text Color' ng-model="config.TextColor"></pv-color-picker>
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <pv-color-picker colorkeyword='Text Background Color' ng-model="config.TextBackground"></pv-color-picker>
</div>