<style type="text/css">
    @import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';
    .amcharts-graph-label {
        font-family: "rawline";
        font-weight: 900;
        font-size: 14px;
        fill: #FFFFFF;
    }
</style>
<div id="chartdiv" ng-style="{width: config.Width, height: config.Height}"></div>