<div class="c-config-content" style="margin-right:20px">
    <input type="text"
           class="config-text-input-box"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           style="width: 100%"
           ng-disabled="config.SetTextFromLink"
           ng-model="this.$parent.runtimeData.StaticText"
           ng-trim="true"
           ng-keypress="def.configure.keyPress($event)"
           ng-blur="def.configure.onBlur(config, this.$parent.runtimeData)"
           ng-focus="def.configure.onFocus(this.$parent.runtimeData)" />
</div>
<div class="c-config-content-vertical" style="padding: 0px 14px 12px 14px">
    <label class="flex-align-center">
        <input type="checkbox"
               class="c-config-checkbox"
               ng-model="config.SetTextFromLink">{{::res.StaticTextSetToLinkKeyword}}<br />
    </label>
</div>

<div style="font-size: 14px; position:relative; margin-top: 10px; padding: 2px 18px 15px 5px;">
    <font-resize ng-model="config.FontSize" ng-change="fontResizeCallback(runtimeData, config)"></font-resize>
</div>

<div class="config-option-format" style="margin: -12px 0 -3px 0;">
    <pv-color-picker ng-model="config.Stroke"></pv-color-picker>
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <pv-color-picker colorkeyword={{::res.ShapeFillKeyword}} ng-model="config.Fill"></pv-color-picker>
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Bold</label>
    <input type="checkbox" ng-model="config.Bold">
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>IHC Font</label>
    <input type="checkbox" ng-model="config.IHCFont">
</div>

<div class="config-horizontal-rule" style="margin-left: 20px; margin-right: 32px;"></div>
<format-rotation />
