.custom-table2-container {
    overflow-x: auto;
}
.custom-table2-values {
    overflow-x: hidden;
    overflow-y: auto;
    background: #edeeee;
}
.custom-table2-headers {
    font-family: 'rawline';
    background: #edeeee;
    position: sticky;
    top: 0;
}
.custom-table2-row {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.custom-table2-row div {
    text-align: left;
}
.custom-table2-row div:not(:last-child) {
    margin-right: 10px;
}
div.customodd2 {
    background: #fafafa;
}
div.custom-table2-row {
    display: none;
}
div.customtable2visible {
    display: flex;
}