<style type="text/css">
    @import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';
</style>
<div style="margin-right:-2px;" ng-style="{background:(Fill || config.Fill), height:position.height, fontWeight: config.Bold ? '900' : 'normal'}" title="{{tooltip}}">
    <div class="value-symbol-portion-text" style="white-space: nowrap; overflow: hidden;" 
         ng-style="{fontFamily: config.IHCFont ? 'rawline' : 'Arial, Helvetica, sans-serif', background: (Fill || config.Fill), cursor: (isLink && !layoutMode) ? 'pointer' : 'inherit', 'text-align': config.TextAlignment}" 
         ng-class="{'blink': Blink, 'value-symbol-hyperlink' : isLink }"
         ng-click="openHyperlink($event)">
        <div class="text-symbol-sizing-line" style="display:table-row" ng-show="config.ShowLabel">
            <span style="margin-right:2px" ng-style="{color:config.Stroke}"></span>
        </div>
        <div class="text-symbol-sizing-line" style="display:table-row;" ng-show="config.ShowValue">
            <span ng-style="{color:config.ValueStroke }" style="margin-right:2px"></span><span style="font-size:smaller;margin-left:-1px;margin-right:2px;" ng-style="{color:config.Stroke }" ng-show="config.ShowUOM"></span>
        </div>
        <div class="text-symbol-sizing-line" style="display:table-row" ng-show="config.ShowTime">
            <span ng-style="{color:config.Stroke}" style="margin-right:2px"></span>
        </div>
    </div>

    <div ng-if="config.ShowIndicator">
        <svg style="position:absolute;" ng-style="{'top':indicatorPosition.top, 'left':indicatorPosition.left}" ng-attr-width="{{indicatorPosition.width}}" ng-attr-height="{{indicatorPosition.height}}">
            <polygon ng-attr-points="{{indicatorPosition.points}}" ng-attr-fill="{{IndicatorFill}}"></polygon>
            <path ng-attr-d="{{indicatorPosition.alternateStatePath}}"
                  ng-attr-stroke="{{IndicatorFill}}"
                  stroke-width="1"></path>
        </svg>
        <div ng-if="config.ShowDifferential" style="position:absolute;" ng-style="{ 'top':differentialPosition.top, 'color':IndicatorFill, 'font-size':indicatorFontSize + 'px', 'left':differentialPosition.left, 'width':differentialPosition.width, 'height':differentialPosition.height}">{{differentialText}}</div>
        <div ng-if="config.ShowTarget" style="position:absolute; text-align:center;" ng-style="{ 'top':targetPosition.top, 'color': config.ValueStroke, 'left':targetPosition.left, 'width':targetPosition.width, 'height':targetPosition.height, 'font-size':indicatorFontSize}">{{targetText}}</div>
    </div>
</div>

