<style>@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';</style>
<div style="width: 100%; height: 100%;">
    <svg style="width: 100%; height: 40px; display: block;">
        <path ng-attr-d="
            M 0 40
            v -20
            a 20 20 0 0 1 20 -20
            h {{ config.Width - 2 * 20 }}
            a 20 20 0 0 1 20 20
            v 20"
            ng-attr-stroke-width="{{ config.StrokeWidth }}"
            ng-attr-fill="{{ fillColor }}"
            stroke="none"/>
        <text x="20" y="28" ng-attr-fill="{{config.Stroke}}" ng-style="{color: config.Stroke, fontFamily:config.IHCFont ? 'rawline' : 'arial', fontWeight: config.Bold ? '900' : 'normal', fontSize: 20}">{{ config.HeaderText }}</text>
    </svg>
    <svg style="width: 100%; height: calc(100% - 40px);">
        <path ng-attr-d="
            M {{ config.StrokeWidth / 2 }} 0
            v {{ config.Height - 40 - 20 - config.StrokeWidth / 2 }}
            a 20 20 0 0 0 20 20
            h {{ config.Width - 2 * 20 - config.StrokeWidth }}
            a 20 20 0 0 0 20 -20
            v {{ -config.Height + 40 + 20 + config.StrokeWidth / 2 }}"
            fill="none"
            ng-attr-stroke-width="{{ config.StrokeWidth }}"
            ng-attr-stroke="{{ fillColor }}"/>
    </svg>
</div>