﻿<!--
	Copyright 2017 OSIsoft, LLC.
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
		http://www.apache.org/licenses/LICENSE-2.0
			
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<div style="padding:15px;font-size:14px">
	<div>URL Prefix:
        <input style="margin-left:5px;vertical-align:middle;margin-bottom:2px"
               type="text"
               ng-model="config.prefixURL"
               ng-model-options="{ debounce: 1000 }">
    </div>
    <br/> 
    <div>Enable URL from AF:
        <input style="margin-left:5px;vertical-align:middle;margin-bottom:2px"
               type="checkbox"
               ng-model="config.getURLfromAF">
    </div>
	<br/>
    <div>Enable URL Prefix:
        <input style="margin-left:5px;vertical-align:middle;margin-bottom:2px"
               type="checkbox"
               ng-model="config.enablePrefixURL">
    </div>
	<br/>
	<div>No Data URL:
        <input style="margin-left:5px;vertical-align:middle;margin-bottom:2px"
               type="text"
               ng-model="config.noDataURL"
               ng-model-options="{ debounce: 1000 }">
    </div>
</div>