<style type="text/css">
    @import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';
</style>
<div style="width: 100%; height: 100%; padding-top:5px;">
    <div class="static-text-symbol"
        style="white-space: nowrap; text-align: left; overflow: visible;"
        ng-style="{background: (MSColor || config.Fill), fontFamily: config.IHCFont ? 'rawline' : 'Arial, Helvetica, sans-serif'}"
        ng-class="{blink: MSBlink}"
        ng-attr-title="{{config.LinkURL}}"
        ng-click="clickLinkURL()"
        ng-dblclick="showDialog()">
        <span class="text-symbol-sizing-line"
            ng-class="{link: config.LinkURL}"
            style="display: inline-block;"
            ng-style="{color: config.Stroke, cursor: config.LinkURL && !layoutMode ? 'pointer' : 'inherit', fontWeight: config.Bold ? '900' : 'normal' }"
            ng-bind="displayText">
        </span>
    </div>
</div>
