<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">{{::res.StyleKeyword}}</span>

        <div style="margin: 8px 0;">
            <div style="margin: 0 15px; padding: 6px 0">
                <pv-color-picker colorkeyword="{{::res.ShapeFillKeyword}}" ng-model="config.Fill"></pv-color-picker>
            </div>
            <div style="margin: 0 15px; padding: 6px 0">
                <pv-color-picker colorkeyword="{{::res.TextColorKeyword}}" ng-model="config.Stroke"></pv-color-picker>
            </div>

            <div style="font-size: 14px; position:relative; margin-top: 4px; margin-bottom: 10px">
                <font-resize ng-model="config.FontSize" ng-change="fontResizeCallback(runtimeData, config)"></font-resize>
            </div>

            <div class="config-option-format" style="margin: -3px 0 12px 0;">
                <label>Bold</label>
                <input type="checkbox" ng-model="config.Bold">
            </div>
            
            <div class="config-option-format" style="margin: -3px 0 12px 0;">
                <label>IHC Font</label>
                <input type="checkbox" ng-model="config.IHCFont">
            </div>

            <div class="config-horizontal-rule" style="margin: 4px 15px;"></div>
            <div style="margin: 0 15px; padding: 6px 0">
                <pv-color-picker colorkeyword="{{::res.ValueTextColorKeyword}}" ng-model="config.ValueStroke"></pv-color-picker>
            </div>
            
            <div style="margin: 5px 15px;">
                <pv-number-format ng-model="config.FormatType" datatype="runtimeData.metaData.DataType" />
            </div>

            <div class="config-option-single-row" style="margin: 10px 15px 0 15px;">
                <div class="config-label">
                    {{::res.ValueConfigTextAlignment}}
                </div>
                <select ng-model="config.TextAlignment" ng-change="def.setAlignment(runtimeData, config)"
                        class="config-option-list" style="width: 95px; float: right; text-align: right;">
                    <option value="left">{{::res.ValueConfigTextAlignmentLeft}}</option>
                    <option value="center">{{::res.ValueConfigTextAlignmentCenter}}</option>
                    <option value="right">{{::res.ValueConfigTextAlignmentRight}}</option>
                </select>
            </div>
        </div>
    </li>

    <li>
        <span class="panel-bar-label-no-wrap">{{::res.ValueConfigTextVisibility}}</span>

        <div style="margin: 10px 20px 15px 10px;">
            <label class="flex-align-center">
                <input ng-disabled="!config.ShowValue && !config.ShowTime && !config.ShowIndicator" type="checkbox" class="c-config-checkbox"
                       ng-model="config.ShowLabel" ng-change="def.updateHeight(runtimeData, config)">{{::res.ValueConfigLabel}}<br />
            </label>
            <div class="inplace-combobox-wrapper" ng-show="config.ShowLabel">
                <inplace-combo-box config="config" runtime-data="runtimeData"></inplace-combo-box>
            </div>
            <label class="flex-align-center" style="margin-top: 8px">
                <input type="checkbox" class="c-config-checkbox"
                       ng-model="config.ShowUOM">{{::res.UnitsConfigLabel}}<br />
            </label>
            <label class="flex-align-center" style="margin-top: 8px">
                <input ng-disabled="!config.ShowValue && !config.ShowLabel && !config.ShowIndicator" type="checkbox" class="c-config-checkbox"
                       ng-model="config.ShowTime" ng-change="def.updateHeight(runtimeData, config)">{{::res.ValueConfigTime}}<br />
            </label>

            <label class="flex-align-center" style="margin-top: 8px">
                <input ng-disabled="!config.ShowTime && !config.ShowLabel && !config.ShowIndicator" type="checkbox" class="c-config-checkbox"
                       ng-model="config.ShowValue" ng-change="def.updateHeight(runtimeData, config)">{{::res.ValueConfigValueKeyword}}<br />
            </label>
        </div>
    </li>

    <li class="k-state-active" ng-show="(runtimeData.metaData && runtimeData.metaData.HasTarget) || config.ShowIndicator" ng-click="scrollToBottom()">
        <span class="panel-bar-label-no-wrap">{{::res.TargetValueIndicatorSettingsConfig}}</span>

        <div style="margin: 10px;">
            <label class="flex-align-center">
                <input ng-disabled="!config.ShowTime && !config.ShowLabel && !config.ShowValue" type="checkbox" class="c-config-checkbox"
                       ng-model="config.ShowIndicator">{{::res.TargetValueIndicatorConfig}}<br />
            </label>
            <div ng-show="config.ShowIndicator">
                <div style="margin-left: 20px;">
                    <label class="flex-align-center" style="margin-top: 8px;">
                        <input type="checkbox" class="c-config-checkbox"
                               ng-model="config.ShowDifferential">{{::res.TargetValueIndicatorDiffConfig}}<br />
                    </label>

                    <label ng-show="config.ShowDifferential" class="config-radio-button-label">
                        <input type="radio" ng-model="config.DifferentialType" name="DifferentialType" value="percent">{{::res.TargetDiffPercentConfig}}<br />
                    </label>
                    <label ng-show="config.ShowDifferential" class="config-radio-button-label">
                        <input type="radio" ng-model="config.DifferentialType" name="DifferentialType" value="value">{{::res.TargetDiffValueConfig}}<br />
                    </label>

                    <label class="flex-align-center" style="margin-top: 8px;">
                        <input type="checkbox" class="c-config-checkbox"
                               ng-model="config.ShowTarget">{{::res.TargetValueConfig}}<br />
                    </label>
                </div>

                <div style="margin-left: 4px; width: 95%">
                    <div class="config-horizontal-rule"></div>
                    <div>
                        <pv-color-picker colorkeyword={{::res.TargetValueIndicatorUpColorConfig}} ng-model="config.IndicatorFillUp"></pv-color-picker>
                    </div>
                    <div>
                        <pv-color-picker colorkeyword={{::res.TargetValueIndicatorDownColorConfig}} ng-model="config.IndicatorFillDown"></pv-color-picker>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>