<style type="text/css">
    @import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';
</style>
<div id="temp-id" class="custom-table2-container" ng-style="{width: config.Width, height: config.Height}">
    <div class="custom-table2-headers custom-table2-row customtable2visible" ng-style="{fontWeight: config.Bold ? '900' : 'normal'}">
        <div ng-style="{minWidth: config.ColWidths[0]}">{{ config.HeaderText[0] }}</div>
        <div style="cursor: col-resize; height: 40px; min-width: 5px;" ng-mousedown="startColumnEvent($event, 0)">&nbsp;</div>
        <div ng-style="{minWidth: config.ColWidths[1]}">{{ config.HeaderText[1] }}</div>
        <div style="cursor: col-resize; height: 40px; min-width: 5px;" ng-mousedown="startColumnEvent($event, 1)">&nbsp;</div>
        <div ng-style="{minWidth: config.ColWidths[2]}">{{ config.HeaderText[2] }}</div>
        <div style="cursor: col-resize; height: 40px; min-width: 5px;" ng-mousedown="startColumnEvent($event, 2)">&nbsp;</div>
        <div ng-style="{minWidth: config.ColWidths[3]}">{{ config.HeaderText[3] }}</div>
        <div style="cursor: col-resize; height: 40px; min-width: 5px;" ng-mousedown="startColumnEvent($event, 3)">&nbsp;</div>
        <div ng-style="{minWidth: config.ColWidths[4]}">{{ config.HeaderText[4] }}</div>
        <div style="cursor: col-resize; height: 40px; min-width: 5px;" ng-mousedown="startColumnEvent($event, 4)">&nbsp;</div>
    </div>
    <div class="custom-table2-values">
        <div ng-repeat="item in items" class="custom-table2-row" ng-class="{customtable2visible: item.show || config.ShowAll}">
            <div ng-style="{minWidth: config.ColWidths[0]}">{{item.name}}</div>
            <div style="height: 40px; min-width: 5px;">&nbsp;</div>
            <div ng-style="{minWidth: config.ColWidths[1]}">{{item.category}}</div>
            <div style="height: 40px; min-width: 5px;">&nbsp;</div>
            <div ng-style="{minWidth: config.ColWidths[2]}">{{item.onOff}}</div>
            <div style="height: 40px; min-width: 5px;">&nbsp;</div>
            <div ng-style="{minWidth: config.ColWidths[3]}">{{item.timeActive}}</div>
            <div style="height: 40px; min-width: 5px;">&nbsp;</div>
            <div ng-style="{minWidth: config.ColWidths[4]}" ng-click="drillIn($event, item)" style="padding: 5px 0;">
                <svg style="stroke: black; width: 100%; height: 100%; display: block;" preserveAspectRatio="none">
                    <path vector-effect="non-scaling-stroke" stroke-width="1" fill="none" ng-attr-d="{{item.trend}}"/>
                </svg>
            </div>
        </div>
    </div>
</div>