<h1>Table config</h1>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Sort by on/off and time active</label>
    <input type="checkbox" ng-model="config.DoubleSort">
</div>

<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Show all rows</label>
    <input type="checkbox" ng-model="config.ShowAll">
</div>

<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Header 1</label>
    <input type="text" ng-model="config.HeaderText[0]">
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Header 2</label>
    <input type="text" ng-model="config.HeaderText[1]">
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Header 3</label>
    <input type="text" ng-model="config.HeaderText[2]">
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Header 4</label>
    <input type="text" ng-model="config.HeaderText[3]">
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Header 5</label>
    <input type="text" ng-model="config.HeaderText[4]">
</div>
<div class="config-option-format" style="margin: -3px 0 12px 0;">
    <label>Bold</label>
    <input type="checkbox" ng-model="config.Bold">
</div>