﻿<div class="c-config-content-weight" ng-show="def.typeName==='polygon'" style="padding: 10px 32px 4px 20px;">
    <div class="config-option-ie11-overflow-fix">
        <div class="config-label">{{::res.SidesKeyword}}</div>
        <select class="config-option-list config-option-single-row-input"
                ng-model="config.Sides"
                ng-options="o as o for o in [3,4,5,6,7,8,9,10,11,12]"
                style="width: 92px; height: 20px; padding-left: 10px;"></select>
    </div>
</div>

<div class="c-config-content" ng-show="def.typeName==='box'">
    <label>Custom text</label>
    <input type="text" ng-model="config.HeaderText">
</div>
<!-- <div class="c-config-content" ng-show="def.typeName==='box'">
    <label>Show label as: </label>
    <select ng-model="config.BoxItems.chosenLabel" ng-options="x.label for x in config.BoxItems.labelParts">
    </select>
</div> -->
<div class="config-option-format" ng-show="def.typeName==='box'">
    <label>Bold</label>
    <input type="checkbox" ng-model="config.Bold">
</div>
<div class="config-option-format" ng-show="def.typeName==='box'">
    <label>IHC Font</label>
    <input type="checkbox" ng-model="config.IHCFont">
</div>

<div class="config-option-format" ng-show="def.typeName==='line'">
    <pv-color-picker colorkeyword="{{::res.LineColorLabel}}" ng-model="config.Fill"></pv-color-picker>
</div>

<div ng-show="def.typeName!=='line'">
    <div class="config-option-format">
        <pv-color-picker colorkeyword="{{::res.ShapeFillKeyword}}" ng-model="config.Fill"></pv-color-picker>
    </div>

    <div class="config-horizontal-rule" style="margin-left: 20px; margin-right: 32px;"></div>
    <div class="config-option-format" ng-show="def.typeName !== 'box'">
        <pv-color-picker colorkeyword="{{::res.ShapeOutlineKeyword}}" ng-model="config.Stroke"></pv-color-picker>
    </div>
    <div class="config-option-format" ng-show="def.typeName === 'box'">
        <pv-color-picker colorkeyword="Text color" ng-model="config.Stroke"></pv-color-picker>
    </div>
</div>

<div style="margin-left: 20px; margin-right: 32px;">
    <pv-slider keyword="res.WeightKeyword" ng-model="config.StrokeWidth" min="1" max="12" step="0.25" />
</div>

<br />
<format-stroke-style ng-model="config.StrokeStyle" />

<div ng-show="def.typeName!=='line'">
    <div class="config-horizontal-rule" style="margin-left: 20px; margin-right: 32px;"></div>
    <format-rotation />
</div>

<div class="c-config-content-weight" ng-show="def.typeName === 'line'">
    <div class="config-option-ie11-overflow-fix">
        <div class="config-label">{{::res.LineArrowKeyword}}</div>
        <select class="config-option-list config-option-single-row-input"
                style="font-family: monospace,monospace; width: 92px; height: 20px; padding-left: 10px; font-weight: bold;"
                ng-model="runtimeData.arrowOption" ng-model-options="{ getterSetter: true }">
            <!--line with no Arrow-->
            <option value="0">⎯⎯⎯⎯⎯⎯⎯⎯</option>
            <!--line with right-pointing arrow-->
            <option value="5">⎯⎯⎯⎯⎯⎯⎯&gt;</option>
            <!--line with left-pointing arrow-->
            <option value="6">&lt;⎯⎯⎯⎯⎯⎯⎯</option>
            <!--line with left-and-right-pointing arrows-->
            <option value="7">&lt;⎯⎯⎯⎯⎯⎯&gt;</option>
            <!--line with solid right-pointing arrow-->
            <option value="9">⎯⎯⎯⎯⎯⎯⎯►</option>
            <!--line with solid left-pointing arrow-->
            <option value="10">◄⎯⎯⎯⎯⎯⎯⎯</option>
            <!--line with solid left-and-right-pointing arrows-->
            <option value="11">◄⎯⎯⎯⎯⎯⎯►</option>
        </select>
    </div>
</div>