﻿@using OSIsoft.PBViewer.Web.Properties

@if (Request.Params["hidetoolbar"] == null)
{
<div id="display-toolbar-pane" class="c-toolbar-pane t-toolbar" ng-show="dispCtrl.showToolbar">
    <div class="c-display-header-left" style="margin-left: 15px">
        <div class="tooltip-wrapper-undo" title="@Resources.ToolBarUndoTooltip">
            <div class="c-toolbar-button" ng-class="dispCtrl.canUndo ? 'c-toolbar-button-enabled' : 'c-toolbar-button-disabled'" ng-click="dispCtrl.undo()">
                <svg class="t-icon-fill  t-icon-size-medium" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path d="M10.2 2.2c-2.1 0-4 0.8-5.5 2.3C4 5.1 3.5 5.9 3.1 6.8L0 3v9h8L4.9 8.9c0.2-1 0.7-2 1.5-2.7 1-1 2.4-1.6 3.8-1.6 1.4 0
                                2.8 0.6 3.8 1.6 1 1 1.6 2.4 1.6 3.8 0 1.4-0.6 2.8-1.6 3.8 -0.5 0.5-0.5 1.2 0 1.7 0.2 0.2 0.5 0.4 0.8 0.4 0.3 0 0.6-0.1 0.8-0.4C17.2
                                14 18 12 18 10c0-2.1-0.8-4-2.3-5.5C14.2 3 12.3 2.2 10.2 2.2z" />
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-redo" title="@Resources.ToolBarRedoTooltip">
            <div class="c-toolbar-button" ng-class="dispCtrl.canRedo ? 'c-toolbar-button-enabled' : 'c-toolbar-button-disabled'" ng-click="dispCtrl.redo()">
                <svg class="t-icon-fill  t-icon-size-medium" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path d="M7.8 2.2c2.1 0 4 0.8 5.5 2.3 0.7 0.7 1.2 1.5 1.6 2.4L18 3v9h-8l3.1-3.1c-0.2-1-0.7-2-1.5-2.7 -1-1-2.4-1.6-3.8-1.6C6.4 4.6
                                5 5.1 4 6.1c-1 1-1.6 2.4-1.6 3.8 0 1.4 0.6 2.8 1.6 3.8 0.5 0.5 0.5 1.2 0 1.7 -0.2 0.2-0.5 0.4-0.8 0.4 -0.3 0-0.6-0.1-0.8-0.4C0.8 14 0 12 0
                                10c0-2.1 0.8-4 2.3-5.5C3.8 3 5.7 2.2 7.8 2.2z" />
                </svg>
            </div>
        </div>

        <span class="c-divider-toolbar">
            <svg class="t-divider-dk" x="0px" y="0px" width="1px" height="30px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101"></line>
            </svg>
            <svg class="t-divider-lt" x="0px" y="0px" width="1px" height="30px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101"></line>
            </svg>
        </span>

        <div class="tooltip-wrapper-cut" title="@Resources.ToolBarCutTooltip">
            <div id="cut-button" class="c-toolbar-button" ng-class="dispCtrl.canCut ? 'c-toolbar-button-enabled' : 'c-toolbar-button-disabled'" ng-click="dispCtrl.cutSymbol()">
                <svg class="t-icon-fill  t-icon-size-medium" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <g>
                <path d="M15.171 11.058c-0.893-0.912-1.826-1.376-2.769-1.376 -0.962 0-1.697 0.483-2.187 0.945l-0.179-0.231 0.426-0.558 2.002-1.222L15 4V1L9 9 3 1v3l2.622 4.616 1.959 1.222 0.452 0.592 -0.177 0.226c-0.488-0.47-1.232-0.974-2.216-0.974 -0.944 0-1.876 0.464-2.769 1.376 -1.56 1.594-1.569 3.395-1.102 4.455C2.173 16.429 3.137 17 4.022 17c0.426 0 1.804-0.938 1.873-1.015l0.726-1.065L9 12l2.549 3.021 0.74 1.034C12.336 16.106 13.629 17 14.065 17c0.884 0 1.743-0.571 2.148-1.488C16.68 14.453 16.731 12.651 15.171 11.058zM4.575 15.036c-0.536 0.59-1.071 0.514-1.355-0.129 -0.278-0.63-0.236-1.74 0.794-2.79 0.584-0.597 1.131-0.9 1.626-0.9 0.524 0 1.093 0.497 1.36 0.783L4.575 15.036zM14.821 14.907c-0.151 0.343-0.395 0.557-0.637 0.557 -0.212 0-0.467-0.154-0.662-0.358L11 12c0.266-0.287 0.878-0.783 1.402-0.783 0.495 0 1.042 0.303 1.626 0.9C15.058 13.168 15.099 14.278 14.821 14.907z" />
                </g>
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-copy" title="@Resources.ToolBarCopyTooltip">
            <div id="copy-button" class="c-toolbar-button" ng-class="dispCtrl.canCut ? 'c-toolbar-button-enabled' : 'c-toolbar-button-disabled'" ng-click="dispCtrl.copySymbol()">
                <svg class="t-icon-fill  t-icon-size-medium" x="0px" y="0px" viewBox="0 -0.75 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <g>
                <rect x="9" y="5" width="5" height="1" />
                <rect x="9" y="7" width="6" height="1" />
                <rect x="9" y="9" width="6" height="1" />
                <path d="M14 0H6v3H0v15h12v-3h6V4L14 0zM10 16H2V5h4v3H3v1h3v1H3v1h3v1H3v1h3v2h4V16zM16 13H8V2h5l3 3V13z" />
                </g>
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-paste" title="@Resources.ToolBarPasteTooltip">
            <div id="paste-button" class="c-toolbar-button" ng-class="dispCtrl.canPaste ? 'c-toolbar-button-enabled' : 'c-toolbar-button-disabled'" ng-click="dispCtrl.pasteSymbol()">
                <svg class="t-icon-fill  t-icon-size-medium" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <g>
                <path d="M15 8V1h-3.5L12 0H3l0.5 1H0v15h6v2h12l0-7L15 8zM10 1L9 3H6L5 1H10zM6 14H2V4h11v4H6V14zM17 17H7V9h7l3 3V17z" />
                <rect x="8" y="13" width="8" height="1" />
                <rect x="8" y="15" width="8" height="1" />
                <rect x="8" y="11" width="6" height="1" />
                </g>
                </svg>
            </div>
        </div>
        <div class="tooltip-wrapper-delete" title="@Resources.ToolBarDeleteTooltip">
            <div id="delete-button" class="c-toolbar-button" ng-class="dispCtrl.canCut ? 'c-toolbar-button-enabled' : 'c-toolbar-button-disabled'" ng-click="dispCtrl.deleteSymbol()">
                <svg class="t-icon-fill t-icon-size-medium" x="0px" y="0px" viewBox="1 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path d="M11.7,1h-4V0h4V1z M2.7,4h14V2h-14V4z M15.7,5v13h-12V5H15.7z M7.7,7.8c0-0.5-0.5-0.8-1-0.8
                            c-0.5,0-1,0.4-1,0.8v7.4c0,0.5,0.5,0.8,1,0.8c0.5,0,1-0.4,1-0.8V7.8z M10.7,7.8c0-0.5-0.5-0.8-1-0.8s-1,0.4-1,0.8v7.4
                            c0,0.5,0.5,0.8,1,0.8s1-0.4,1-0.8V7.8z M13.7,7.8c0-0.5-0.5-0.8-1-0.8c-0.5,0-1,0.4-1,0.8v7.4c0,0.5,0.5,0.8,1,0.8
                            c0.5,0,1-0.4,1-0.8V7.8z">
                </path>
                </svg>
            </div>
        </div>

        <span class="c-divider-toolbar1">
            <svg class="t-divider-dk" x="0px" y="0px" width="1px" height="30px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101"></line>
            </svg>
            <svg class="t-divider-lt" x="0px" y="0px" width="1px" height="30px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101"></line>
            </svg>
        </span>

        <toolbar-arrange-menu></toolbar-arrange-menu>

        <span class="c-divider-toolbar2">
            <svg class="t-divider-dk" x="0px" y="0px" width="1px" height="30px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101"></line>
            </svg>
            <svg class="t-divider-lt" x="0px" y="0px" width="1px" height="30px" viewBox="0 0 3.667 101" enable-background="new 0 0 3.667 101" xml:space="preserve">
            <line fill="none" stroke-miterlimit="10" x1="1.833" y1="0" x2="1.833" y2="101"></line>
            </svg>
        </span>

        <div class="tooltip-wrapper-select" title="@Resources.ToolBarSelectTooltip">
            <div id="select-button" class="c-toolbar-button c-toolbar-button-enabled" style="border: none" ng-click="dispCtrl.changeDrawingMode('select')" ng-class="{'active-drawing-mode':dispCtrl.drawingModeName == 'select'}">
                <svg class="t-icon-fill t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path d="M9.5 10.5L13 11 5 1v13l2.5-3 1.889 5.346c0.145 0.402 0.526 0.654 0.933 0.654 0.111 0 0.224-0.019 0.334-0.058 0.406-0.144 0.658-0.523 0.658-0.928 0-0.11-0.019-0.222-0.058-0.332L9.5 10.5z" />
                </svg>
            </div>
        </div>

        <toolbar-shape-menu></toolbar-shape-menu>

        <div class="tooltip-wrapper-statictext" title="@Resources.ToolBarStaticTextTooltip">
            <div id="statictext-button" class="c-toolbar-button c-toolbar-button-enabled" ng-click="dispCtrl.changeDrawingMode('customtext', { preventDraw: true, cancelRubberbandStart: true })" ng-class="{'active-drawing-mode':dispCtrl.drawingModeName === 'customtext'}">
                <svg class="t-icon-fill  t-icon-size-medium" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <polygon points="4 3 3 8 4.5 8 6 6 10 6 10 19 8 20.5 8 22 16 22 16 20.5 14 19 14 6 18 6 19.5 8 21 8 20 3 " />
                </svg>
            </div>
        </div>

        <div class="tooltip-wrapper-image" title="@Resources.ToolBarImageTooltip">
            <div id="image-button" class="c-toolbar-button c-toolbar-button-enabled" ng-click="dispCtrl.changeDrawingMode('image')" ng-class="{'active-drawing-mode':dispCtrl.drawingModeName === 'image'}">
                <svg class="t-icon-fill t-icon-size-medium" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="-37 39 24 24" enable-background="new -37 39 24 24" xml:space="preserve">
                <g>
                <path d="M-37,39v24h24V39H-37z M-15,61h-20V41h20V61z" />
                <circle cx="-28.999" cy="47" r="3" />
                <path d="M-17,52l-2-5l-3,8l-2-3c0,0-4.065,2.753-5,4.368c-1.488-0.808-2-0.034-2-0.034L-33,59h16V52z" />
                </g>
                </svg>
            </div>
        </div>
    </div>
</div>
}